<div class="row p-5">
  <div class="card_group m-2 p-3">
    <div>
      <h4>Jami o’quvchilar soni:</h4>
      <h4>255 ta</h4>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <img class="" width="40" src="./images/light__card.png" alt="" />
    </div>
  </div>
  <div class="card_group m-2 p-3">
    <div>
      <h4>Jami o’quvchilar soni:</h4>
      <h4>255 ta</h4>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <img class="" width="40" src="./images/light__card.png" alt="" />
    </div>
  </div>
  <div class="card_group m-2 p-3">
    <div>
      <h4>Jami o’quvchilar soni:</h4>
      <h4>255 ta</h4>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <img class="" width="40" src="./images/light__card.png" alt="" />
    </div>
  </div>
  <div class="card_group m-2 p-3">
    <div>
      <h4>Jami o’quvchilar soni:</h4>
      <h4>255 ta</h4>
    </div>
    <div class="w-100 d-flex justify-content-end">
      <img class="" width="40" src="./images/light__card.png" alt="" />
    </div>
  </div>
  <div class="card mt-4 p-3">
    <img src="./images/statistika.png" alt="" />
  </div>
</div>
