<form class="row g-3 p-5" action="/courses" method="post">
  <div><h2 class="text-primary fw-bold">Yangi kurs qo’shish</h2></div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">Kurs yunalishi</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      name="direction"
      pattern="[A-Za-z]{1,15}[#,+]{,3}"
      placeholder="Kurs yunalishi"
      title="Eng kami 1 ta harif bolsin eng kopi 15 ta harif bolsin"
      required
    />
  </div>
  <div class="col-md-4">
    <label for="inputPassword1" class="form-label">Kurs narxi</label>
    <input
      type="text"
      class="form-control"
      id="inputPassword1"
      name="price"
      pattern="[0-9]{2,10}[' ']{,2}"
      title="Kurs narxini kiriting"
      required
    />
  </div>

  <div class="col-md-4">
    <label for="inputPassword2" class="form-label transparent"
      >Ota onasi nomeri</label
    >
    <button type="submit" class="btn btn-primary btn_widht">Qo’shish</button>
  </div>
</form>
<div class="searc d-flex w-100 justify-content-between px-5">
  <h3 class="text-primary">Bizning kurslar</h3>
  <select
    class="form-select btn_widht"
    id="filter"
    aria-label="Default select example"
  >
    <% unique.forEach(element => { %>
    <option value="<%= element %> "><%= element %></option>
    pt <% }) %>
  </select>
  <input
    type="search"
    name="search"
    id="search"
    class="form-control mx-2 btn_widht"
    placeholder="Search"
  />
</div>
<div class="p-5 table_student">
  <table class="table table-hover border table-striped">
    <thead class="bg-color">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Kurs yunalishi</th>
        <th scope="col" colspan="2">Kurs narxi</th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
</div>
