<div class="sidebar bg-primary">
  <div class="d-flex justify-content-around align-items-center pt-4">
    <img src="./images/Group 30.png" alt="" class="d" />
    <h3 class="fs-3 fw-bold text-light mt-2 d">CRM PANEL</h3>
    <img src="./images/menu-toggle.png" alt="" class="toggle" />
  </div>
  <hr class="text-light mx-3" />
  <div class="buttons px-3">
    <ul class="list-group">
      <a href="/home"
        ><li class="list-group-item bg-transparent d-flex align-items-center">
          <img src="./images/Home.png" width="25" class="mb-2" alt="" />
          <h3 class="fs-4 fw-bold text-light mx-4 d">Xisobot</h3>
        </li></a
      ><a href="students"
        ><li class="list-group-item bg-transparent d-flex align-items-center">
          <i class="bi bi-person-plus-fill fs-3 text-light fw-bold"></i>
          <h3 class="fs-4 fw-bold text-light mx-4 d">O’quvchilar</h3>
        </li></a
      >
      <a href="teachers"
        ><li class="list-group-item bg-transparent d-flex align-items-center">
          <i class="bi bi-person-video3 fs-3 text-light fw-bold"></i>
          <h3 class="fs-4 fw-bold text-light mx-4 d">O'qituvchilar</h3>
        </li></a
      >
      <a href="groups"
        ><li class="list-group-item bg-transparent d-flex align-items-center">
          <i class="bi bi-people-fill fs-3 text-light fw-bold"></i>
          <h3 class="fs-4 fw-bold text-light mx-4 d">Guruhlar</h3>
        </li></a
      >
      <a href="courses"
        ><li class="list-group-item bg-transparent d-flex align-items-center">
          <i class="bi bi-book-fill fs-3 text-light fw-bold"></i>
          <h3 class="fs-4 fw-bold text-light mx-4 d">Kurslar</h3>
        </li></a
      >
    </ul>
  </div>
</div>
