<form class="row g-3 p-5" action="/student" method="post">
  <div><h2 class="text-primary fw-bold">Yangi o’quvchi qo’shish</h2></div>
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">O’quvchi ismi</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      name="student_name"
      placeholder="O’quvchi ismi"
      title="Eng kami 3ta harif bolsin eng kopi 15ta harif bolsin"
      required
    />
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Telefon raqam</label>
    <input
      type="text"
      class="form-control"
      id="inputPassword4"
      name="phone"
      value="+998"
      pattern="^\+998[3-9][0-9][0-9]{3}[0-9]{2}[0-9]{2}"
      title="Faqat son kiriting"
      placeholder="Telefon raqam"
      required
    />
  </div>
  <div class="col-4">
    <label for="inputAddress" class="form-label">Guruh nomi</label>
    <select class="form-select" name="group_name" id="inputAddress">
      <% unique.forEach(element => { %>
      <option value="<%= element %> "><%= element %></option>
      <% }) %>
    </select>
  </div>

  <div class="w-100 d-flex justify-content-end margin">
    <div class="col-md-4">
      <label for="inputPassword2" class="form-label transparent"
        >Dars vaqti</label
      >
      <button type="submit" class="btn btn-primary btn_widht">Qo’shish</button>
    </div>
  </div>
</form>
<div class="searc d-flex w-100 justify-content-between px-5">
  <h3 class="text-primary">Bizning o’quvchilar</h3>
  <select
    class="form-select btn_widht"
    id="filter"
    ari
    a-label="Default select example"
  >
    <% uniqueData.forEach(element => { %>
    <option value="<%= element %> "><%= element %></option>
    <% }) %>
  </select>
  <input
    type="search"
    name="search"
    id="search"
    class="form-control mx-2 btn_widht"
    placeholder="Search"
  />
</div>
<div class="p-5 table_student">
  <table class="table table-hover border table-striped">
    <thead class="bg-color">
      <tr>
        <th scope="col">№</th>
        <th scope="col">O’quvchi ismi</th>
        <th scope="col">Telefon nomer</th>
        <th scope="col" colspan="2">Guruh nomi</th>
      </tr>
    </thead>
    <tbody id="tbody"></tbody>
  </table>
</div>
